In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.metrics import ConfusionMatrixDisplay

In [69]:
data = pd.read_csv("connectfour.data",names=[j+str(i+1)for j in ['a','b','c','d','e','f','g'] for i in range(6)]+['outcome'])

In [70]:
data.head()

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,b5,b6,c1,c2,c3,c4,c5,c6,d1,d2,d3,d4,d5,d6,e1,e2,e3,e4,e5,e6,f1,f2,f3,f4,f5,f6,g1,g2,g3,g4,g5,g6,outcome
0,b,b,b,b,b,b,b,b,b,b,b,b,x,o,b,b,b,b,x,o,x,o,x,o,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,win
1,b,b,b,b,b,b,b,b,b,b,b,b,x,b,b,b,b,b,x,o,x,o,x,o,o,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,win
2,b,b,b,b,b,b,o,b,b,b,b,b,x,b,b,b,b,b,x,o,x,o,x,o,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,win
3,b,b,b,b,b,b,b,b,b,b,b,b,x,b,b,b,b,b,x,o,x,o,x,o,b,b,b,b,b,b,o,b,b,b,b,b,b,b,b,b,b,b,win
4,o,b,b,b,b,b,b,b,b,b,b,b,x,b,b,b,b,b,x,o,x,o,x,o,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,win

In [71]:
data.iloc[:,data.columns!='outcome'] = data.iloc[:,data.columns!='outcome'].replace({'b':0,'x':'1','o':-1})

In [72]:
data.head()

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,b5,b6,c1,c2,c3,c4,c5,c6,d1,d2,d3,d4,d5,d6,e1,e2,e3,e4,e5,e6,f1,f2,f3,f4,f5,f6,g1,g2,g3,g4,g5,g6,outcome
0,0,0,0,0,0,0,0,0,0,0,0,0,1,-1,0,0,0,0,1,-1,1,-1,1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,win
1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,-1,1,-1,1,-1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,win
2,0,0,0,0,0,0,-1,0,0,0,0,0,1,0,0,0,0,0,1,-1,1,-1,1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,win
3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,-1,1,-1,1,-1,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,win
4,-1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,-1,1,-1,1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,win

In [73]:
data.loc[:,data.columns == 'outcome'] = data.loc[:,data.columns == 'outcome'].replace({'win':2,'loss':1,'draw':0})

C:\Users\Aishu\AppData\Local\Temp\ipykernel_23956\924788398.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.loc[:,data.columns == 'outcome'] = data.loc[:,data.columns == 'outcome'].replace({'win':2,'loss':1,'draw':0})

In [74]:
cols =[col for i in range(1,7) for col in data.columns if str(i) in col]
board_states = data[cols]
board_states

,a1,b1,c1,d1,e1,f1,g1,a2,b2,c2,d2,e2,f2,g2,a3,b3,c3,d3,e3,f3,g3,a4,b4,c4,d4,e4,f4,g4,a5,b5,c5,d5,e5,f5,g5,a6,b6,c6,d6,e6,f6,g6
0,0,0,1,1,0,0,0,0,0,-1,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0
1,0,0,1,1,-1,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0
2,0,-1,1,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0
3,0,0,1,1,0,-1,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0
4,-1,0,1,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,1,-1,0,0,0,0,-1,1,1,0,0,0,0,-1,0,-1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
67553,1,-1,0,0,0,0,-1,1,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
67554,1,-1,0,0,0,0,-1,1,-1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
67555,1,-1,0,0,0,0,-1,-1,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
67556,1,-1,1,0,0,0,1,-1,0,0,0,0,0,0,-1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [75]:
outcome = data.iloc[:,-1]
outcome

0        2
1        2
2        2
3        2
4        2
        ..
67552    1
67553    0
67554    1
67555    0
67556    0
Name: outcome, Length: 67557, dtype: object

In [76]:
board_states_shaped = board_states.values.reshape(-1,6,7)

In [77]:
np.where(board_states_shaped[0][:,2]==0)[0][0]

2

In [78]:
def validate(listofRecords,player):
        count = 0
        for i in listofRecords: #get the current list to check
            if(i==player):
                count+=1
                if(count==4): #check if the count is 4 if so return true for winner
                    return True
            else:
                count = 0 #assign count to 0 if any inbetween value is another player
        if(count==4):
            return True #if count reaches four return true else false
        return False

In [79]:
pd.set_option('display.max_colwidth', None)

In [80]:
def check_win_possible(board,row,col,player):
    listrow = board[row,:]
    res = validate(listrow,player)
    if(res):
        return True
    if(row>2):
        listcolumn =[]
        for i in range(6):
            listcolumn.append(board[i,col])
        res = validate(listcolumn,player)
        if(res):
            return True
        listdiagonal1=[]
        i=row
        j=col
        while(i>=0 and j>=0):
            listdiagonal1.append(board[i,j])
            i-=1
            j-=1
        if(len(listdiagonal1)>3):
            res = validate(listdiagonal1,player)
            if(res):
                return True
        listdiagonal2=[]
        i=row
        j=col
        while(i>=0 and j<=6):
            listdiagonal2.append(board[i,j])
            i-=1
            j+=1
        if(len(listdiagonal2)>3):
            res = validate(listdiagonal2,player)
            if(res):
                return res
        return False
    
def is_in_future_win(board,player,depth=1):
    for col in range(7):
        rows = np.where(board[:,col]==0)[0]
        if(rows.size>0):
            row = rows[0]
            board_copy = board.copy()
            board_copy[row][col] = player
            if(check_win_possible(board_copy,row,col,player)):
                return True
            elif(depth>1 and is_in_future_win(board_copy,player,depth-1)):
                return True
    return False
best_moves=[]
for id,board in enumerate(board_states_shaped):
    #print(board)
    who_wins = outcome[id]
    player = 1 if who_wins == 2 else -1
    best_move = None
    for col in range(7):
        row = np.where(board[:,col]==0)[0]
        if(row.size>0):
            row = row[0]
            board_copy = board.copy()
            board_copy[row][col] = player
            if(check_win_possible(board_copy,row,col,player)):
                best_move = col
                break
            elif(is_in_future_win(board_copy,player,depth=3)):
                best_move = col
                break
    if(best_move is not None):
        best_moves.append({'board':board.flatten(),'best_move':best_move})
best_moves_df = pd.DataFrame(best_moves)
best_moves_df['board'] = best_moves_df['board'].apply(lambda x: ','.join(map(str,x)))

In [82]:
best_moves_df

,board,best_move
0,"0,0,1,1,0,0,0,0,0,-1,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0",0
1,"0,0,1,1,-1,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0",0
2,"0,-1,1,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0",0
3,"0,0,1,1,0,-1,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0",0
4,"-1,0,1,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0",0
...,...,...
67552,"1,-1,0,0,0,0,-1,1,1,0,0,0,0,-1,0,-1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0",0
67553,"1,-1,0,0,0,0,-1,1,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0",0
67554,"1,-1,0,0,0,0,-1,1,-1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0",0
67555,"1,-1,0,0,0,0,-1,-1,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0",0
67556,"1,-1,1,0,0,0,1,-1,0,0,0,0,0,0,-1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0",0

In [83]:
outcome[67552]

1

In [84]:
best_moves_df.to_csv('Connect_Four_Best_Move.csv',index=False)

In [2]:
from sklearn.model_selection import train_test_split,RandomizedSearchCV, GridSearchCV

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

from sklearn import metrics
from sklearn.metrics import ConfusionMatrixDisplay

In [3]:
data = pd.read_csv('Connect_Four_Best_Move.csv')
data

                                                   board  best_move
0      0,0,1,1,0,0,0,0,0,-1,-1,0,0,0,0,0,0,1,0,0,0,0,...          0
1      0,0,1,1,-1,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,...          0
2      0,-1,1,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,...          0
3      0,0,1,1,0,-1,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,...          0
4      -1,0,1,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,...          0
...                                                  ...        ...
67552  1,-1,0,0,0,0,-1,1,1,0,0,0,0,-1,0,-1,0,0,0,0,1,...          0
67553  1,-1,0,0,0,0,-1,1,0,0,0,0,0,1,0,0,0,0,0,0,-1,0...          0
67554  1,-1,0,0,0,0,-1,1,-1,0,0,0,0,1,0,0,0,0,0,0,1,0...          0
67555  1,-1,0,0,0,0,-1,-1,0,0,0,0,0,1,0,0,0,0,0,0,-1,...          0
67556  1,-1,1,0,0,0,1,-1,0,0,0,0,0,0,-1,0,0,0,0,0,0,-...          0

[67557 rows x 2 columns]

In [4]:
X = data['board'].str.split(',',expand = True)
X

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,0,1,1,0,0,0,0,0,-1,...,0,0,0,0,0,0,-1,0,0,0
1,0,0,1,1,-1,0,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,0
2,0,-1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,0
3,0,0,1,1,0,-1,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,0
4,-1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,1,-1,0,0,0,0,-1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
67553,1,-1,0,0,0,0,-1,1,0,0,...,0,0,1,0,0,0,0,0,0,0
67554,1,-1,0,0,0,0,-1,1,-1,0,...,0,0,0,0,0,0,0,0,0,0
67555,1,-1,0,0,0,0,-1,-1,0,0,...,0,0,1,0,0,0,0,0,0,0
67556,1,-1,1,0,0,0,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
y = data['best_move']
y

0        0
1        0
2        0
3        0
4        0
        ..
67552    0
67553    0
67554    0
67555    0
67556    0
Name: best_move, Length: 67557, dtype: int64

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)
X_train.shape

(54045, 42)

In [7]:
y_train.shape

(54045,)

In [8]:
X_test.shape

(13512, 42)

In [9]:
models = {
    'RandomForest':RandomForestClassifier(),
    'GradientBoosting':GradientBoostingClassifier(),
    #'SVM':SVC(),
    ##'KNN':KNeighborsClassifier()
}

param_models = {
    'SVM':{
        'C': [0.01,0.1,1,5],
        'kernel':['linear', 'rbf'],#, 'sigmoid', 'precomputed'],
        'gamma':['scale','auto'],
        'coef0':[0.1,0.01,0.001]
    },
    'RandomForest':{
        'n_estimators':[10,100,500,1000],
        'max_depth':[5,10,50,None],
        'max_features':['sqrt','log2']
    },
    'GradientBoosting':{
        'loss':['log_loss'],
        'learning_rate':[0.1,0.2,0.4],
        'n_estimators':[10,100,1000],
        'criterion':['squared_error']
    },
    'KNN':{
        'n_neighbors':[5,10,15,20],
        'weights':['uniform','distance'],
        'algorithm':['ball_tree','auto','kd_tree']
    }
}

In [ ]:
results = {}
for name,model in models.items():
  print('Now Training:',name)
  searchParam = RandomizedSearchCV(estimator=model,param_distributions=param_models[name],cv=5)

  searchParam.fit(X_train,y_train)

  results[name] = searchParam.best_estimator_
print(results)

Now Training: RandomForest
Now Training: GradientBoosting

C:\Users\Aishu\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_search.py:320: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

In [ ]:
Cnf_Matrices = {}
Precisions = {}
Recalls = {}
FScores={}
Accuracy = {}
for name,model in results.items():
  predicted_labels = model.predict(X_test)
  Cnf_Matrices[name] = metrics.confusion_matrix(y_test,predicted_labels)
  #print(Cnf_Matrices[name])
  FPs = Cnf_Matrices[name].sum(axis=0)-np.diag(Cnf_Matrices[name])
  FNs = Cnf_Matrices[name].sum(axis=1)-np.diag(Cnf_Matrices[name])
  TPs = np.diag(Cnf_Matrices[name])
  TNs = Cnf_Matrices[name].sum()-(TPs+FPs+FNs)
  Precisions[name] = TPs/(TPs+FPs)
  Recalls[name] = TPs/(TPs+FNs)
  FScores[name] = 2*Precisions[name]*Recalls[name]/(Precisions[name]+Recalls[name])
  Accuracy[name] = (TPs+TNs)/(TPs+TNs+FPs+FNs)
  print(f'{name} model classification report')
  print(metrics.classification_report(y_test,predicted_labels))
  disp = ConfusionMatrixDisplay(Cnf_Matrices[name])
  disp.plot()
  plt.show()
  print()